[phases.setup]
nixPkgs = ["python311", "nodejs-18_x", "yarn", "supervisor"]

[phases.install]
cmds = [
    "pip install --no-cache-dir supervisor uvicorn",
    "pip install --no-cache-dir -r backend/requirements.txt",
    "yarn --cwd frontend install"
]

[phases.build]
cmds = [
    "yarn --cwd frontend build"
]

[start]
cmd = "supervisord -c supervisord.conf -n"
