[phases.setup]
nixPkgs = ["python311", "nodejs-18_x", "yarn"]

[phases.install]
cmds = [
    "pip install supervisor uvicorn",
    "cd /app/backend && pip install -r requirements.txt",
    "cd /app/frontend && yarn install --frozen-lockfile"
]

[phases.build]
cmds = [
    "cd /app/frontend && yarn build"
]

[start]
cmd = "supervisord -c /app/supervisord.conf -n"
