[phases.setup]
nixPkgs = ["python311", "nodejs-18_x", "yarn"]

[phases.install]
cmds = [
    "pip install supervisor uvicorn",
    "cd backend && pip install -r requirements.txt",
    "cd frontend && yarn install"
]

[phases.build]
cmds = [
    "cd frontend && yarn build"
]

[start]
cmd = "supervisord -c /app/supervisord.conf -n"
